[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
PyYAML = "*"
vk-api = "*"
aiofiles = "*"
SQLAlchemy = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
mixer = "*"
pytest-aiohttp = "*"
mypy = "*"

[requires]
python_version = "3.8"
